* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo {
    margin-left: 70px;
}

.navbar {
    background-image: linear-gradient(to right, white 10%, rgb(138, 138, 188));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 600px;
    margin-left: 600px;
    margin-right: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.nav-links li :hover {
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
}

#banner_img1 {
    background-image: url("/images/rent_2.avif");
    width: 1400px;
    height: 650px;
    margin-left: 40px;
    background-size: 1400px 650px;
    background-repeat: no-repeat;
    margin-top: 30px;
}
#p1{
    position: relative;
    left: 33%;
    top: 80%;
    word-spacing: 3px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(138, 138, 188);
}
#div_1{
    background-image:linear-gradient( white 10%, rgb(188, 188, 211));
    height: 420px;
    width: 900px;
    margin-left: 330px;
    padding-top: 80px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 2px 2px 3px 2px;
}
#span_1{
    color: rgb(138, 138, 188);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px 5px;
    margin-left: 40%;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    
}
#form_1{
    
    padding-top: 60px;
}

input:hover{
background-color: rgb(138, 138, 188);
color: white;
font-size: 15px;
}

span a:hover{
    color: red;
    
}

span a {
    text-decoration: none;
}

button:hover{

color: blue;}
